
<h1>L'herbier</h1>
<div class="underh1" style="height:10px;"></div>

  <span class="mini">Rechercher une plante dans l'herbier</span>
 
  <%= form_tag "/search_h", :method => 'get', :role => 'search' do %>
    <%= text_field_tag :search, params[:search], :class => "search-bar up ls2 form-control mr-sm-2", :placeholder => "Rechercher" %>
  <% end %>

  
<br /><br />