<%= render 'indexherbarium' %>

<h1>L'herbier</h1>
<span class="under-title">Toutes les plantes fantastiques de l'univers d'Aryon</span>

  <div class="search-box">
    <span class="mini">Rechercher une plante dans l'herbier</span>
    <%= form_tag "/search_h", :method => 'get', :role => 'search' do %>
      <%= text_field_tag :search, params[:search], :class => "search-bar up ls2 form-control mr-sm-2", :placeholder => "Rechercher" %>
    <% end %>
  </div>

<div id="list-article">
    <%= render 'list_herbarium' %>
</div>