<div class="under_left" style="border: 1px solid #dedede;">

<%= render 'indexherbarium' %>
</div>

<%= render 'headherbarium' %>



<h2 style="border-bottom: 3px solid #dedede;"><span class="mini2">Herbier</span> Toutes les plantes</h2>
<br />

<div id="list_object">
<%= render 'list_herbarium' %>
</div>