<div class="under_left" style="border: 1px solid #dedede;">

<%= render 'bestiary/indexbestiary' %>
</div>

<%= render 'bestiary/headbestiary' %>


<div id="list_object">
<%= render 'bestiary/list_bestiary' %>
</div>