<aside>

  <div class="f-left">
    <nav>
      <%=link_to "Vue d'ensemble", admin_path%>
      <%=link_to "Les membres", admin_user_path%>
      <%=link_to "Le bestiaire", admin_bestiary_path%>
      <%=link_to "L'herbier", admin_herbarium_path%>
    </nav>
  </div>

  <div class="vertical-menu f-one">
    Menu
  </div>

</aside>