<div class="under_left" style="border: 1px solid #dedede;">


<a href="<%= admin_user_path%>" class="navright">Les membres</a>
<a href="<%= admin_bestiary_path%>" class="navright">Le bestiaire</a>
<a href="<%= admin_herbarium_path%>" class="navright">L'herbier</a>
<a href="/admin" class="aryon" style="text-transform:uppercase; text-align:center;">Vue d'ensemble</a> 
</div>