<h1>Panneau d'administration</h1>

<br /><br />

<a href="<%= admin_user_path%>">Les membres</a>
<br /><br />
<a href="<%= admin_bestiary_path%>">Le bestiaire</a>
<br /><br />
<a href="<%= admin_herbarium_path%>">L'herbier</a>
<br /><br />