<div style="height:900px;">

<h1>Tu n'as pas les autorisations nécessaire pour accéder à cette page ! </h1>
<br />
<%= link_to "Retour à l'accueil", root_path %><br /><br />
<div style="color:#ffffff;">Avoue tu as essayé de tricher petit chenapan ! <br /><br />

Mais si tu lis ce message c'est que tu es futé tout de même !</div>

</div>