<div class="text-center">
<h1>NAN ! </h1>
<h5>Tu n'as pas les autorisations nécessaires pour accéder à cette page ! </h5>
<br /><a href="/" class="btn-aryon btn">Retour a l'accueil</a>


<a href="https://i.imgur.com/iq1CFR7.png" style="position:fixed; top:150px; right:100px;display:block;color: var(--body) !important; text-shadow:none; font-size:10px; text-transform:uppercase;">Pouet pouet ?</a>

</div>