<div class="text-center check">
    <h1>NAN ! </h1>
    <h5>Tu n'as pas les autorisations nécessaires pour accéder à cette page ! </h5>
    <a href="/" class="btn-aryon btn">Retour a l'accueil</a>
</div>