<div style="height:900px;">
<h1>NAN ! </h1>
<h5>Tu n'as pas les autorisations nécessaire pour accéder à cette page ! </h5>
<br /><a href="/" class="btn-aryon btn">Retour a l'accueil</a>
<br /><br />
<div style="color:#ffffff;">Avoue tu as essayé de tricher petit chenapan ! <br /><br />

Mais si tu lis ce message c'est que tu es futé tout de même !</div>

</div>