<h1>Home</h1>

<%if @user %>
<div class="alert alert-info" role="alert">
  <p>Votre compte a bien été crée ! <br />
  <a href="<%=new_session_path%>">Connectez vous</a>
  </p>
</div><br />
<% end %>

<% unless current_user %>
Bienvenue invité ! <br /><br />
<% else %>

Bienvenue <%= current_user.pseudo %> !<br /><br />

<%end%>
Petite page d'intro<br />
Lien vers le fow<br />
Aperçu des derniers bestiary & herbarium ajoutés<br />
Quelques liens utiles... 