
<h1>Le bestiaire</h1>
<div class="underh1" style="height:10px;"></div>

<span class="mini">Rechercher une bête dans le bestiaire</span>
<%= form_tag "/search", :method => 'get', :role => 'search' do %>
  <%= text_field_tag :search, params[:search], :class => "search-bar up ls2 form-control mr-sm-2", :placeholder => "Rechercher" %>
<% end %>

<br /><br />