<div class="under_left" style="border: 1px solid #dedede;">
<%= render 'indexbestiary' %>
</div>

<%= render 'headbestiary' %>

<h2 style="border-bottom: 3px solid #dedede;"><span class="mini2">Bestiaire</span> Toutes les créatures </h2>
<br />

<div id="list_object">
<%= render 'list_bestiary'%>
</div>