
/* GÉNÉRAL */

.body {
    background-color: #aaaaaa;
    font-family: 'Nanum Gothic';
  }

.box {
  padding-top:70px;
  background-color: #ffffff;
  width:800px;
  margin:auto;
}

.separation {
  border-bottom: 1px dotted #000000;
}


/* HEADER */


.navnav {
  position: fixed;
}

.profile {
  width:200px;
  background-color: #bbffff;
  position: fixed;
  right:30px; 
  top: 80px;
}

.aryon {
  width:200px;
  background-color: #bbffff;
  position: fixed;
  left:30px; 
  top: 80px;
}

.profile img{
  width:200px;
  object-fit: cover;
  height:70px;
}

/* PAGE PROFIL */ 
.img_profile {
  width: 200px;
  height: 200px;
  object-fit: cover;
}



/* INDEX DES CREATURES/PLANTES */

.img_index {
  width: 70px;
  height: 50px;
  object-fit: cover;
}

/* PANNEAU D'ADMINISTRATION */

.min_ico {
  width:50px;
  object-fit: cover;
  height:50px;
}

.tab {
  padding: 2px;
  margin: 2px;
  background-color: #dadada;
}

.ind1 {
  background-color: #b3b3b3;
}

.ind2 {
  background-color: #e2e2e2;
}