/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require main
 *= require home
 *= require layouts
 *= require content
 */


:root {
  --body:#252525;
  --grey-op:rgba(0,0,0,0.7);
  --text:#dedede;
  --gradient: rgba(0, 0, 0, 0.5);
  --light-grey: #303030;
  --grey: #202020;
  --dark-grey: #050505;
  --light-color:#85b0d5;
  --color:#3f78a9;
  --dark-color:#113452;
}
