
/* GÉNÉRAL */

.body {
  background-color: #aaaaaa;
  font-family: 'Nanum Gothic';
}

.box {
  text-align:justify;
  width:800px;
  padding: 70px 20px;
  background-color: #ffffff;
}

.left_box{
  width:300px;
  padding: 70px 20px;
  background-color: #bebe99;
}


.separation {
  border-bottom: 1px dotted #000000;
}

a {
  color: #101010 !important;
  text-decoration: none !important;
}
a:hover {
  color: #303030 !important;
  text-decoration: none !important;
}

/* HEADER */

.navbarre {
  z-index: 100;
  position: fixed;
  width: 100%;
  text-align:center;
  text-transform: uppercase;
  font-size:20px;
}
.b_nav {
  background-color:#aaaaaa;
  width:50%;
}
.h_nav {
  background-color: #bbffff;
  width:50%;
}

.profile {
  width:200px;
  height: 1000px;
  padding: 70px 20px;
  background-color: #99be99;
  position: fixed;
  right:0px; 
  top: 0px;
}

.profile img{
  width:200px;
  margin:-25px -20px 10px -20px;
  object-fit: cover;
  height:200px;
}

.left {
  width:260px;
  position: fixed;
  top: 170px;
  left: 20px;
}

.titleleft {
  font-size:20px;
  text-align:center;
  text-transform: uppercase;
  margin-bottom:10px;
}

.navleft{
  text-transform: uppercase;
  text-align:center;
  display:block;
  background-color: #ffffff;
  padding:2px;
  margin-bottom:3px;
}

.aryon{
  text-transform: uppercase;
  text-align:center;
  display:block;
  background-color: #aaaaaa;
  padding:2px;
  font-size:10px;
}

.index_list {
  background-color: #ffffff;
  padding:10px;
  font-size:12px;
}

/* PAGE PROFIL */ 

.img_profile {
  width: 200px;
  height: 200px;
  object-fit: cover;
}



/* PAGE DES CREATURES/PLANTES */


.article {
  text-align:center;
  margin-bottom:10px;
  width:230px;
  border:3px solid #dedede;
}
.article img {
  width: 100%;
  opacity:0.8;
  height: 150px;
  transition-duration: 0.5s;
  object-fit: cover;
}

.article:hover img{
  opacity:1.0;
  transition-duration: 0.5s;
}

.art_title {
  font-size:20px;
  background-color: #cecece;
}


.art_content {
  padding:5px;
}

.art_foot {
  padding:1px 5px;
  background-color: #cecece;
  font-size:10px; 
  text-transform: uppercase;
}

/* index provisoire */
.img_index {
  width:150px;
  height:50px;
  object-fit: cover;
}


/* PANNEAU D'ADMINISTRATION */

.min_ico {
  width:50px;
  object-fit: cover;
  height:50px;
}

.tab {
  padding: 2px;
  margin: 2px;
  background-color: #dadada;
}

.ind1 {
  background-color: #b3b3b3;
}

.ind2 {
  background-color: #e2e2e2;
}