
.body {
    background-color: #aaaaaa;
    font-family: 'Nanum Gothic';
  }
  
  .box {
    background-color: #ffffff;
    width:800px;
    margin:auto;
  }
  
  .img_index {
    width: 70px;
    height: 50px;
    object-fit: cover;
  }
  
  .img_profile {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }