#barre-1 {
  position:fixed;
  top:0;
  z-index:1000;
  height:10px;
  width:100%;
  background:var(--dark-grey);
  border-bottom:2px solid var(--dark-grey);
}
#barre-1 .progression {
  background: linear-gradient(-90deg, var(--light-color), var(--color), var(--dark-color));
  width:0%;
  height:100%;
  transition:width 0.3s;
}


aside{
  position:fixed;
  z-index:990;
  width:300px;
  margin-left:-250px;
}
aside#all-list{top:70px;}
aside#all-list div i{font-size:40px;margin-left:-5px;}

aside#level{top: 110px;}
aside#rarity{top: 240px;}
aside#habitat{top: 320px;}
aside#pet{top: 420px;}

aside#category{top: 110px;}
aside#rarity-h{top: 210px;}
aside#habitat-h{top: 290px;}
aside#season{top: 380px;}

aside:hover{z-index:998; margin-left:0px;}
aside a{
  text-shadow: none;
  display:block;
  margin:2px;
  text-transform: uppercase;
  font-size:12px;
  letter-spacing: 2px;
}
aside a:hover{
  padding-left:20px;
}
aside a span{
  padding-left:20px;
}
aside div.f-left{
  width:250px;
  background-color: var(--light-grey);
  padding:10px 10px 10px 20px;
}
.vertical-menu{
  text-transform: uppercase;
  font-size:20px;
  float:left;
  writing-mode: vertical-rl;
  text-orientation: sideways-left;

  /*
  writing-mode: sideways-lr;
  -webkit-writing-mode: sideways-lr;
  -ms-writing-mode: sideways-lr;*/
}

.search-box{
  width:40%;
  min-width:300px;  
  margin:20px auto;
}
.search-box input{
  background-color: var(--light-grey);
  border:1px solid var(--grey);
}

article{
  border-radius: 2px;
  width:100%;
  position:relative;
  display: inline-block;
  margin-bottom:20px;
  background-color:var(--dark-grey);
  border:1px solid var(--white-grey); 
}
article img{
  width:100%;
  border-radius: 2px;
}
article:hover img{opacity:0.3;}
article h2{
  font-size:15px;
  padding:5px 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: var(--light-grey);
  position:absolute;
  top:20px;
  left:20px;
}
article:hover h2{background-color: var(--color);}
article p{
  position:absolute;
  padding:10px;
  width:100%;
  font-size:12px;
  background-color: var(--grey-op);
  top:70px;
  left:0px;
  display:none;
}
article:hover p{display:block;}
article p span, section p span{
  width:30px; 
  display:block;
  font-size:15px;
  float:left;
}
article p br{clear: both;}

#nav-show{margin:20px 0px 20px 30px;}
#nav-show form{float:left; margin-right:20px;}
#nav-show a, #nav-show input{
  text-shadow: none;
  font-size:11px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: var(--light-grey);
  padding:2px 10px;
  border-radius: 2px;
  border:none;
}
#nav-show a:hover{background-color: var(--light-color);}
#nav-show input{
  background-color: var(--color);
  color:var(--text);
}
#nav-show input:hover{
  background-color: var(--dark-color);
  color:var(--light-grey);
}

section#show{
  max-width:95%;
  overflow:auto;
  margin:20px auto;
  clear: both;
}
section#show div, section#show img{
  float:left;
  border-radius: 2px;
  margin: 0.5%;
  width:49%;
  min-width:400px;
}
section#show div{
  background-color: var(--light-grey);
  padding:20px;
}
section#show h2{
  margin:20px 50px;
  text-shadow: 2px 0px 1px rgba(0, 0, 0, 0.3), 0px 0px 10px var(--color);
}
section#show p{
  text-align: justify;
  margin:20px 50px 20px 0px;
}
section#show p small{
  padding:0px 30px; 
  font-style: italic; 
}
section#show p#text-show{
  font-size:14px;
}

form#new, form#new_herbarium{padding:20px;}

#profile{
  background-color: var(--light-grey);
  width:95%;
  padding:10px;
  border-radius: 2px;
  margin: 50px auto;
  height:120px;
}
#profile div{
  float:left;
  margin:10px 50px;
}
#profile img{
  width:100px;
  height:100px;
  object-fit: cover;
  border-radius: 2px;
  background-color: var(--dark-grey);
  float:left;
  margin-right:20px;
  border:1px solid var(--white-grey);
}

form.edit_user, form#new_herbarium, form#new_bestiary, form.edit_herbarium, form.edit_bestiary, form#new_user{
  width:95%;
  margin:50px auto;
  background-color: var(--light-grey);
  padding:20px;
  overflow:auto;
}
form#new_user{width:500px;}

form#new_herbarium>div, form#new_bestiary>div{
  float:left;
  width:48%;
  min-width:400px;
  margin:1%;
}

form#new_herbarium div div, form#new_bestiary div div{
  margin:20px 0px;
  clear: both;
  width:100%;
  position: relative;
}
form#new_herbarium select, form#new_bestiary select{
  width:60%;
  min-width:200px;
  border-radius: 2px;
  padding:3px;
  position: absolute;
  right:0;
  top:0;
  background-color: var(--body);
  border:none;
  -moz-appearance: none; text-indent: 0.01px; text-overflow: ''; 
}
form#new_herbarium div span, form#new_bestiary span, form.edit_herbarium span, form.edit_bestiary span{margin-bottom:20px; display:block;}
form#new_herbarium textarea, form#new_bestiary textarea, form.edit_herbarium textarea, form.edit_bestiary textarea {
  height:140px;
  margin-bottom:20px;
}
form.edit_user input, form.edit_user textarea,
form#new_herbarium input, form#new_herbarium textarea,
form#new_bestiary input, form#new_bestiary textarea, 
form.edit_herbarium input, form.edit_bestiary input, form.edit_herbarium textarea, form.edit_bestiary textarea, 
form#new_user input{
  background-color: var(--body);
  border:none;
}
form.edit_user input:focus, form.edit_user textarea:focus, 
form#new_herbarium input:focus, form#new_herbarium textarea:focus, form#new_herbarium select:focus,
form#new_bestiary input:focus, form#new_bestiary textarea:focus, form#new_bestiary select:focus, 
form.edit_herbarium input:focus, form.edit_bestiary input:focus, form.edit_herbarium textarea:focus, form.edit_bestiary textarea:focus, 
form#new_user input:focus{
  background: linear-gradient(-90deg, transparent, var(--light-color));
  border:none;
}

form.edit_user button,
form#new_herbarium input[type="submit"], 
form#new_bestiary input[type="submit"], 
form.edit_herbarium button, form.edit_bestiary button, 
form#new_user input[type="submit"]{
  background-color: var(--color);
  text-transform: uppercase;
  border:none;
  color: var(--text);
  width:40%;
  margin:20px 30% 0px 30%;
  letter-spacing: 4px;
  padding:10px;
  border-radius: 2px;
}
form#new_user input[type="submit"]{
  width:60%;
  margin:20px 20% 0px 20%;
}
form.edit_user button:hover,
form#new_herbarium input[type="submit"]:hover,
form#new_bestiary input[type="submit"]:hover,
form.edit_herbarium button:hover, form.edit_bestiary button:hover, 
form#new_user input[type="submit"]:hover{
  background-color: var(--light-color);
  color: var(--text);
}

.list-admin{border:1px solid var(--grey);margin-top:10px;}

.list-admin div{
  background-color: var(--body);
  border:1px solid var(--body);
  clear: both;
  overflow:auto;
}
.list-admin div:nth-child(2n+1){background-color: var(--light-grey);}
.list-admin div:hover{background: linear-gradient(-90deg, var(--light-color), transparent);}
.list-admin div img{
  float:left;
  width:50px;
  height:50px;
  object-fit: cover;
  margin-right:20px;
}
.list-admin div strong{
  line-height:50px;
  padding:0px 20px 0px 10px;
}
.list-admin div a{
  font-size:10px;
  text-transform: uppercase;
  letter-spacing:2px;
  float:right;
  display:block;
  background-color: var(--white-grey);
  padding:5px;
  margin:12px 10px;
}
.list-admin div>span{
  background-color: var(--light-grey);
  padding:0px 20px;
  font-size:11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin:20px;
}

.gen-admin{
  width:49%;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding:20px;
  border-left:5px solid var(--light-grey);
}
.gen-admin:nth-child(2n+1){
  width:49%;
  border-right:5px solid var(--light-grey);
  border-left:0px solid var(--light-grey);
}
.gen-admin>span{
  font-size:11px;
  margin:-10px 0px 20px 0px;
  display:block;
}
.gen-admin div div{
  width:49%;
  min-width:250px;
  padding:10px;
  text-align:left;
  background-color: var(--light-grey);
  margin:3px 0.5%;
}
.gen-admin div div span{
  display:block;
  font-size:11px;
  padding:2px;
  clear: both;
  border-bottom:0.5px solid var(--body);
}

.gen-admin div div span:hover{
  background: linear-gradient(90deg, transparent, var(--color));
}
.gen-admin div div strong{float:right;}

.gen-admin div div span:last-child{border-bottom:0px solid var(--body); }
