
.search-box{
  width:30%;
  min-width:300px;  
  margin:auto;
}

aside{
  position:fixed;
  z-index:998;
  width:300px;
  margin-left:-250px;
}

aside:hover{
  margin-left:0px;
}

aside div.f-left{
  width:250px;
}

.vertical-menu{
  float:left;
  writing-mode: sideways-lr;
  -webkit-writing-mode: sideways-lr;
  -ms-writing-mode: sideways-lr;
}

article{
  width:100%;
  position:relative;
  display: inline-block;
  margin-bottom:20px;
  background-color:var(--dark-grey);
  border:1px solid var(--white-grey); 
}

article img{
  width:100%;
}
article:hover img{
  opacity:0.3;
}
  
h2{
  font-size:15px;
  padding:5px 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: var(--white-grey);
  position:absolute;
  top:20px;
  left:20px;
}

article p{
  position:absolute;
  padding:10px;
  width:100%;
  font-size:12px;
  background-color: rgba(255, 255, 255, 0.7);
  top:70px;
  left:0px;
  display:none;
}
article:hover p{
  display:block;
}

article p span, section p span{
  width:30px; 
  display:block;
  font-size:15px;
  float:left;
}

article p br{
  clear: both;
}

section{
  max-width:95%;
  overflow:auto;
  margin:20px auto;
  background-color: var(--white-grey);
}

section img{
  float:left;
  margin-right:20px;
  width:50%;
  min-width:400px;
}

section p{
  text-align: justify;
  margin:20px;
}

section p small{
  padding:0px 30px; 
  font-style: italic; 
}