<div class="under_left" style="border: 1px solid #dedede;">

<%= render 'herbarium/indexherbarium' %>
</div>

<%= render 'herbarium/headherbarium' %>


<div id="list_object">
<%= render 'herbarium/list_herbarium' %>
</div>