

  <div class="d-flex flex-nowrap navbarre">
  <div class="b_nav">
    <a class="nav-link" href="<%= bestiary_index_path %>"> < Bestiaire</a>
  </div>
  <div class="h_nav">
    <a class="nav-link" href="<%= herbarium_index_path %>">Herbier ></a>
  </div>
</div>

