
<div style="position: fixed; width:260px; z-index:2;">
<a href="<%= root_path %>" class="navleft" >Accueil</a>
<a href="http://aryon.forumactif.com/" class="navleft" target="_blank">Le forum</a>
<a href="http://aryon.forumactif.com/" class="aryon" target="_blank">
  http://aryon.forumactif.com/
</a>
</div>
