
<div class="homeleft">
<a href="<%= root_path %>" class="navright" >Accueil</a>
<a href="http://aryon.forumactif.com/" class="navright" target="_blank">Le forum</a>
<a href="http://aryon.forumactif.com/" class="aryon" target="_blank">
  http://aryon.forumactif.com/
</a>
</div>
